body{
    background-color: black;
    text-align: center;
}
h1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
}

h2{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    text-align: center;
}

.description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    font-size: 21px;
}

a{
    color: aquamarine;
    font-size: 16px;
    text-align: center;
}


video {
    display: block;
    margin: 0 auto;
}

#logo{
    color: white;
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

